<!-- The main content area -->
<main role="main" class="overflow-hidden">

    <!--CRYPTO-ATELIER-STATUS-->
    <section class="text-white relative z-10 bg-primary-base overflow-hidden">
      <div class="max-w-screen-2xl mx-auto lg:px-12">
          <div class="grid md:grid-cols-2 gap-24">
              <div class="flex flex-col px-8 justify-center items-start md:pt-0 pt-32">
                  <h1 class="font-display text-6xl leading-tight font-medium xl:text-7xl 2xl:text-8xl">Crypto Atelier Status</h1>
                  <p class="text-primary-300 mt-12 text-xl font-display font-medium leading-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                  <div class="flex">
                      <a href="#" target="_blank" class="transition-all duration-200 linear group py-4 px-6 flex md:inline-flex justify-between items-center mt-12 border font-special font-semibold hover:bg-primary-base hover:text-white text-black rounded border-white bg-white text-lg">
                          Saiba mais
                          <span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><img src="/img/icon-arrow-right.svg"></span>
                      </a>
                  </div>
              </div>
              <div class="px-8">
                  <div class="mx-auto flex justify-center items-center md:block">
                      <%- image_tag("/img/crypto-atelier.png") %>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!--END-CRYPTO-ATELIER-STATUS-->
    
    <!--CONHEÇA-CRYPTO-ATELIER-->
    <section class="bg-white">
      <div class="max-w-screen-2xl mx-auto lg:px-12">
          <div class="grid md:grid-cols-2 gap-24">
              <div class="flex flex-col px-8 justify-center items-start md:pt-0 pt-32">
                  <h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl">Conheça o projeto Crypto Atelier</h3>
                  <p class="text-gray-600 mt-12 text-xl font-display font-medium leading-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim. Vestibulum ante ante, pulvinar non enim at, scelerisque luctus elit. <br><br>Etiam eleifend ac tortor a tincidunt.</p>
                  <div class="flex">
                      <a href="#" target="_blank" class="transition-all duration-200 linear group py-4 px-6 flex md:inline-flex justify-between items-center mt-12 border font-special font-semibold hover:bg-white hover:text-black text-white rounded border-black bg-black text-lg">
                          Saiba mais
                          <span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><img src="/img/icon-arrow-right-white.svg"></span>
                      </a>
                  </div>
              </div>
              <div class="px-8">
                  <div class="mx-auto flex justify-center items-center md:block pb-32 md:py-48">
                      <img src="/crypto-atelier/img/crypto-atelier-phone.png">
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!--END-CONHEÇA-CRYPTO-ATELIER-->
    
    <!--FAQ-BANNER-->
    <section>
      <div class="max-w-screen-2xl mx-auto lg:py-48 lg:px-20">
          <div class="grid md:grid-cols-1">
              <div class="flex flex-col justify-center text-white lg:xl-48 px-8 items-center py-32 bg-primary-base">
                  <h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center">Tem alguma dúvida?</h3>
                  <p class="text-primary-300 mt-12 text-xl font-display font-medium leading-normal">Alguma sugestão de melhoria? Gostaria de apresentar seu projeto NFT? Entre no chat da comunidade!.</p>
                  <a href="#" target="_blank" class="group inline-flex group items-center text-white font-semibold font-special mt-12">
                      Entrar no chat
                      <span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><img src="/img/icon-arrow-right-white.svg"></span>
                  </a>
              </div>
          </div>
      </div>
    </section>
    <!--END-FAQ-BANNER-->
    
    <!-- NFT -->
    <section class="bg-blue-gray-light py-20 lg:py-64" id="groups">
      <div class="max-w-screen-2xl mx-auto px-4 lg:px-12 xl:px-20">
          <div class="text-center">
              <h1 class="text-center font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl">Galeria NFT</h1>
              <p class="max-w-screen-lg lg:px-48 mx-auto text-gray-600 mt-12 2xl:mt-40 text-xl 2xl:text-4xl font-display font-normal leading-normal">Lorem ipsum dolor sit amet lorem ipsum dolor amet sit.</p>
          </div>
      </div><br><br><br>
      <div class="max-w-screen-2xl mx-auto lg:px-20">
          <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-12">
              
                  <a href="#" target="_blank" class="block bg-white p-8 lg:p-12 flex flex-col justify-left items-left text-left">
                        <%- image_tag("/img/crypto-atelier-nft.png") %>  
                      <h5 class="font-special font-bold text-primary-base mt-12">NFT Incrível Brasil</h5>
                      <p class="text-gray-500 mt-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                      <div class="flex items-center mt-12">
                          <span class="mr-8 text-gray-500">Criado por <b>Artista Incrível</b></span>
                      </div>				
                  </a>
                  <a href="#" target="_blank" class="block bg-white p-8 lg:p-12 flex flex-col justify-left items-left text-left">
                      <img src="/crypto-atelier/img/crypto-atelier-nft.png">
                      <h5 class="font-special font-bold text-primary-base mt-12">NFT Incrível Brasil</h5>
                      <p class="text-gray-500 mt-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                      <div class="flex items-center mt-12">
                          <span class="mr-8 text-gray-500">Criado por <b>Artista Incrível</b></span>
                      </div>				
                  </a>
                  <a href="#" target="_blank" class="block bg-white p-8 lg:p-12 flex flex-col justify-left items-left text-left">
                      <img src="/crypto-atelier/img/crypto-atelier-nft.png">
                      <h5 class="font-special font-bold text-primary-base mt-12">NFT Incrível Brasil</h5>
                      <p class="text-gray-500 mt-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                      <div class="flex items-center mt-12">
                          <span class="mr-8 text-gray-500">Criado por <b>Artista Incrível</b></span>
                      </div>				
                  </a>
                  <a href="#" target="_blank" class="block bg-white p-8 lg:p-12 flex flex-col justify-left items-left text-left">
                      <img src="/crypto-atelier/img/crypto-atelier-nft.png">
                      <h5 class="font-special font-bold text-primary-base mt-12">NFT Incrível Brasil</h5>
                      <p class="text-gray-500 mt-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                      <div class="flex items-center mt-12">
                          <span class="mr-8 text-gray-500">Criado por <b>Artista Incrível</b></span>
                      </div>				
                  </a>
                  <a href="#" target="_blank" class="block bg-white p-8 lg:p-12 flex flex-col justify-left items-left text-left">
                      <img src="/crypto-atelier/img/crypto-atelier-nft.png">
                      <h5 class="font-special font-bold text-primary-base mt-12">NFT Incrível Brasil</h5>
                      <p class="text-gray-500 mt-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                      <div class="flex items-center mt-12">
                          <span class="mr-8 text-gray-500">Criado por <b>Artista Incrível</b></span>
                      </div>				
                  </a>
                  <a href="#" target="_blank" class="block bg-white p-8 lg:p-12 flex flex-col justify-left items-left text-left">
                      <img src="/crypto-atelier/img/crypto-atelier-nft.png">
                      <h5 class="font-special font-bold text-primary-base mt-12">NFT Incrível Brasil</h5>
                      <p class="text-gray-500 mt-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                      <div class="flex items-center mt-12">
                          <span class="mr-8 text-gray-500">Criado por <b>Artista Incrível</b></span>
                      </div>				
                  </a>
                  <a href="#" target="_blank" class="block bg-white p-8 lg:p-12 flex flex-col justify-left items-left text-left">
                      <img src="/crypto-atelier/img/crypto-atelier-nft.png">
                      <h5 class="font-special font-bold text-primary-base mt-12">NFT Incrível Brasil</h5>
                      <p class="text-gray-500 mt-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                      <div class="flex items-center mt-12">
                          <span class="mr-8 text-gray-500">Criado por <b>Artista Incrível</b></span>
                      </div>				
                  </a>
                  <a href="#" target="_blank" class="block bg-white p-8 lg:p-12 flex flex-col justify-left items-left text-left">
                      <img src="/crypto-atelier/img/crypto-atelier-nft.png">
                      <h5 class="font-special font-bold text-primary-base mt-12">NFT Incrível Brasil</h5>
                      <p class="text-gray-500 mt-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                      <div class="flex items-center mt-12">
                          <span class="mr-8 text-gray-500">Criado por <b>Artista Incrível</b></span>
                      </div>				
                  </a>
                  <a href="#" target="_blank" class="block bg-white p-8 lg:p-12 flex flex-col justify-left items-left text-left">
                      <img src="/crypto-atelier/img/crypto-atelier-nft.png">
                      <h5 class="font-special font-bold text-primary-base mt-12">NFT Incrível Brasil</h5>
                      <p class="text-gray-500 mt-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra facilisis dignissim.</p>
                      <div class="flex items-center mt-12">
                          <span class="mr-8 text-gray-500">Criado por <b>Artista Incrível</b></span>
                      </div>				
                  </a>
          </div>
      </div>
    </section>
    <!-- END-NFT -->
    
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script>
      var splide = new Splide( '.image-slider' ).mount();
    
      splide.on( 'pagination:updated', function() {
        $('.splide__pagination__page.is-active').css("background", "#ccc");
      } );
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css">